<!DOCTYPE html>
<html>
<head>
  <title>GithubPagesRails</title>
  <%= stylesheet_link_tag    "github_pages_rails/application", media: "all" %>
  <%= javascript_include_tag "github_pages_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
